.container-img-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.circular-progress-bar {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.upload {
  width: 200px;
}

.img-profil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
