form {
  margin: 2rem;
}

.circular-progress-bar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.navbar-brand {
  padding: 0;
}

.btn,
.navbar-brand {
  font-size: 0.8rem;
  width: 90px;
}

.btn-danger {
  width: 110px;
}

.upload {
  width: 200px;
}

.logo-acceuil {
  width: 40px;
  height: 40px;
}
