form {
  margin: 2rem;
}

.navbar-brand {
  padding: 0;
}

.btn,
.navbar-brand {
  font-size: 0.8rem;
  width: 90px;
}

.btn-danger {
  width: 110px;
}

.logo-acceuil {
  width: 40px;
  height: 40px;
}
